.bg-orange{
    background-color: orangered;
}

.place-desc{
    margin-top: 2.5%;
    font-size: 125%;

    background-color: #bbb;
    padding: 1%;
}

main{
    margin-top: 2.5%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
}